* {
  font-family: sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f79214;
}

.logo {
  width: 200px;
  margin: 0 20px;
}

.nav-link {
  margin: 10px 20px;
  text-decoration: none;
}

.nav-login-btn {
  margin: 10px;
  font-weight: bold;
  color: #ffff;
  text-decoration: none;
}

.nav-registration-btn {
  padding: 5px 10px;
  font-weight: bold;
  background-color: #bcdfff;
  color: #0067c0;
  border: solid 1px #0067c0;
  border-radius: 10px;
}

.container {
  width: 45% !important;
  padding: 20px;
  display: grid;
  justify-content: center;
  border: solid 3px #ccc;
}

.page-title {
  text-align: center;
}

.field {
  width: 500px;
  margin: 20px 0;
}

.required-field::after {
  color: #dc143c;
  font-weight: bold;
  content: " *";
}

.input-field {
  width: 100%;
  padding: 5px;
  border: solid 1px #ccc;
}

.actions-btn {
  width: 500px;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  background-color: #bcdfff;
  color: #0067c0;
  border: solid 1px #0067c0;
  border-radius: 10px;
}

.another-link {
  width: 500px;
  margin: 10px 0;
  padding: 10px;
  background-color: #ffff;
  border: solid 1px #ccc;
  border-radius: 10px;
}
